@import "../../styles/partials/variables";
@import "../../styles/partials/colors";

.breadCrumList {
    display: flex;
    align-items: center;
    list-style: none;
    padding-top: $simple-padding;
    padding-bottom: $simple-padding;
    width: 100%;
    max-width: 1200px;
    
    .breadCrumItem {
        display: flex;
        font-size: 14px;
        color: $grey;
    }
    
    .breadCrumItem.current {
        font-weight: bold;
    }
    
    .chevronRightIcon {
        display: flex;
        margin: 0 4px;
        padding: 0;
        color: $grey;
        stroke-width: 1.3;
        stroke: $grey;
        width: .8em;
        height: .8em;
        transform: translateY(-1px);
    }
    
}

.breadCrumList.marginTop {
    margin-top: 14px;
}
