@import "../../styles/partials/variables";
@import "../../styles/partials/colors";

.breadCrumList {
    display: flex;
    list-style: none;
    width: 100%;
    padding-top: $simple-padding;
    padding-bottom: $simple-padding;

    .breadCrumItem {
        font-size: 14px;
        color: $grey;
    }
    
    .breadCrumItem.current {
        font-weight: bold;
    }
    
    .chevronRightIcon {
        margin: 0 4px;
        padding: 0;
        display: inline;
        float: none;
        color: $grey;
        stroke-width: 1.3;
        stroke: $grey;
        width: .8em;
        height: .8em;
        transform: translateY(1px);
    }
    
}

.breadCrumList.marginTop {
    margin-top: 14px;
}
