@import "../../styles/partials/variables";
@import "../../styles/partials/colors";
@import "../../styles/partials/mixins";

.itemDetailContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: $double-padding;

    .productImageContainer {
        display: flex;
        flex: 2;
        max-width: 680px !important;
        margin-right: $double-padding;
        order: 1;
        width: -webkit-fill-available;

        @media (max-width: 594px) {
            margin-right: unset;
        }

        .productImage {
            max-width: 680px;
            border-radius: 4px;
            margin-bottom: $double-padding;
            width: -webkit-fill-available;
        }
    }

    .itemDetailDescription {
        display: flex;
        flex-direction: column;
        max-width: 680px;
        order: 3;

        .itemDetailDescriptionTitle {
            font-size: 28px;
            font-weight: 500;
            margin-bottom: $double-padding;

            @include media(medium) {
                font-size: 24px
            }
        }

        .itemDetailDescriptionParagraph {
            font-size: 16px;
            color: $grey;

            @include media(medium) {
                font-size: 14px !important;
            }
        }
    }

    .itemDetailContentRight {
        display: flex;
        flex: 1;
        justify-content: flex-end;
        order: 2;
        margin-bottom: $double-padding;

        @include media(medium) {
            justify-content: flex-start;
        }

        .itemDetailContentRightWraper {
            max-width: 300px;

            .conditionParagraph {
                margin-bottom: $simple-padding;
                font-size: 14px;
            }

            .itemDetailTitle {
                font-size: 24px;
                margin-bottom: $double-padding;

                @include media(medium) {
                    font-size: 24px;
                    margin-bottom: $simple-padding;
                }
            }

            .priceContainer {
                display: flex;
                align-items: center;
                font-size: 46px;
                margin-bottom: $double-padding;

                @include media(medium) {
                    font-size: 36px;
                    margin-bottom: $simple-padding;
                }

                .priceCurrency {
                    margin-right: 4px;

                    @include media(medium) {
                        margin-right: 4px;
                    }
                }
            }

            .buyButton {
                display: flex;
                align-items: center;
                justify-content: center;
                border: none;
                outline: none;
                height: 40px;
                width: 100%;
                background-color: $blue;
                color: #fff;
                border-radius: 4px;
                font-size: 16px;
                cursor: pointer;
            }

            .buyButton:hover {
                background-color: #1771f8;
            }
        }
    }
}


