@import '../../styles/partials/colors';

.mainContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: flex-start;
    background-color: $light-grey;
} 